<span>
  <mat-toolbar>
    <span>Todo</span>
      <button class="left-kostil-top" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="profile">
    <mat-icon>dialpad</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item routerLink="">
    <mat-icon>home icon</mat-icon>
    <span>Exit</span>
  </button>
</mat-menu>
  </mat-toolbar>
</span>
<div class="form-staff mat-drawer-container margin_top">
  <form (ngSubmit)="createToDo()">
  <div class="row mt-1" style="height:80px;">
    <div class="col-3 d-none col-md-3 d-md-block"></div>
    <div class="col-12 col-md-6 bg-success d-flex
                    justify-content-center align-items-center
                    text-light h3">
      <ng-container>
        <mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <input matInput type="text"
                 name="Title" class="login-width form-control" [(ngModel)]="description"/>
        </mat-form-field>
        <button mat-flat-button
                type="submit" class="btn btn-light text-success margin_bottom margin_left">
          +
        </button>
      </ng-container>


      <!--      <label>-->
      <!--        <input [(ngModel)]="text" type="text"-->
      <!--               value="" class="col-7 form-control"-->
      <!--               style="width:300px;">-->
      <!--      </label>-->

      <div class="col-1"></div>


    </div>

    <div class=""></div>
  </div>
  </form>
  <div *ngFor="let todo of ToDoList"
       class="" style="margin-top: 20px">

    <div class=""></div>

    <div class="">
      <mat-card>
        <!--        <mat-card-title>{{x}}</mat-card-title>-->
        <mat-card-content>{{todo.description}}</mat-card-content>
      </mat-card>
      <!--      <input  (click)="deleteTask(index)" type="button"-->
      <!--             value="Delete" class="col-2 btn btn-danger">-->
      <button mat-flat-button (click)="deleteTodo(todo.id)"
              class="btn btn-light text-success margin_top margin_bottom">
        Delete
      </button>
    </div>
    <div class="col-3 d-none col-md-3 d-md-block"></div>
  </div>
</div>
<!--<div class="Container">-->

<!--  <div *ngIf="todoError?.message">-->
<!--    <div class="alert alert-danger" role="alert">-->
<!--      Some error occurred. Please try again-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<!--<hr />-->

<!--<div class="container form-group" style="margin: 10px;">-->
<!--  <h3>Create New Wishlist</h3>-->
<!--  <form (ngSubmit)="createToDo()">-->
<!--    <div class="row">-->
<!--      <div class="form-group col-md-4">-->
<!--        <input matInput-->
<!--          [(ngModel)]="description"-->
<!--          placeholder="Enter your Wish"-->
<!--          class="login-width form-control"-->
<!--          name="Title"-->
<!--          style="min-width: 150px;"-->
<!--        />-->
<!--        <button mat-flat-button type="submit" class="btn btn-light text-success margin_bottom margin_left">-->
<!--          +-->
<!--        </button>-->
<!--      </div>-->

<!--      <div-->
<!--        class="col-md-2 form-check"-->
<!--        style="margin-top: 10px; margin-left: 30px;"-->
<!--      >-->
<!--      </div>-->

<!--      <div class="col-md-2">-->

<!--      </div>-->
<!--    </div>-->
<!--  </form>-->

<!--  <ng-container *ngFor="let todo of ToDoList">-->
<!--    <div class="row">-->
<!--      <div class="col-md-2 todoItem">{{ todo.description }}</div>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->
