<span>
  <mat-toolbar>
    <span>Todo</span>
      <button class="left-kostil-top" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="profile">
    <mat-icon>dialpad</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item routerLink="">
    <mat-icon>home icon</mat-icon>
    <span>Exit</span>
  </button>
</mat-menu>
  </mat-toolbar>
</span>

<div class="form-staff mat-drawer-container margin_top">
  <div class="row mt-1" style="height:80px;">
    <div class="col-3 d-none col-md-3 d-md-block"></div>
    <div class="col-12 col-md-6 bg-success d-flex
                    justify-content-center align-items-center
                    text-light h3">
      <div>
<!--        <mat-form-field class="example-full-width">-->
<!--          <mat-label></mat-label>-->
<!--          <input matInput [(ngModel)]="title" type="text"-->
<!--                 class="login-width form-control" value="{{title}}"/>-->
<!--        </mat-form-field>-->
        <button mat-flat-button
                class="btn btn-light text-success margin_bottom margin_left">
          +
        </button>
      </div>

      <!--      <label>-->
      <!--        <input [(ngModel)]="text" type="text"-->
      <!--               value="" class="col-7 form-control"-->
      <!--               style="width:300px;">-->
      <!--      </label>-->

      <div class="col-1"></div>


    </div>

    <div class=""></div>
  </div>

<!--  <div *ngFor="let todo of todoService.getTodos();"-->
<!--       class="" style="margin-top: 20px">-->

<!--    <div class=""></div>-->

<!--    <div class="">-->

<!--      <mat-card>-->
<!--        &lt;!&ndash;        <mat-card-title>{{x}}</mat-card-title>&ndash;&gt;-->
<!--        <mat-card-content>{{[todo.text]}}</mat-card-content>-->
<!--      </mat-card>-->
<!--      &lt;!&ndash;      <input  (click)="deleteTask(index)" type="button"&ndash;&gt;-->
<!--      &lt;!&ndash;             value="Delete" class="col-2 btn btn-danger">&ndash;&gt;-->
<!--    </div>-->
<!--    <button mat-flat-button-->
<!--            class="btn btn-light text-success margin_top margin_bottom">-->
<!--      Delete-->
<!--    </button>-->
<!--    <button mat-flat-button-->
<!--            class="btn btn-light text-success margin_top margin_bottom margin_left">-->
<!--      11-->
<!--    </button>-->
<!--    <div class="col-3 d-none col-md-3 d-md-block"></div>-->
<!--  </div>-->
</div>

